extends layout

block content
  h1= title
  p Welcome to #{title}

  div.container
    div.card
      div.card-head
        div.card-name [placeholder]
        div.card-hp [placeholder]
        div.card-type [placeholder]
      div.card-body
        div.card-picture [placeholder] \\ this is a img element now
      div.card-foot
        div.card-moves
          div.card-move-one
            div.card-move-energy [placeholder]
            div.card-move-name [placeholder]
            div.card-move-dam [placeholder]
            div.card-move-desc [placeholder]
          div.card-move-two
            div.card-move-energy [placeholder]
            div.card-move-name [placeholder]
            div.card-move-dam [placeholder]
            div.card-move-desc [placeholder]
        div.card-bar
          div.card-weak [placeholder]
          div.card-strong [placeholder]
          div.card-retreat [placeholder]
        div.card-desc [placeholder]