extends layout

block content
  include mixins/pokemonCard
  div.container
    form(action = '/' method = 'get')
      div.form-input
        label(for = type) Type:
        select(id = 'type' name = 'type' autocomplete = 'off')
          each type in types
            option(value = type selected = (type === searchType)) #{type}
        div.form-input
          label(for = hp) Below HP:
          input(type = 'text' id = 'hp' name = 'hp' value = searchHp)
        div.form-input
          label(for = weak) Weakness:
          select(id = 'weak' name = 'weak' autocomplete = 'off')
            each type in types
              option(value = type selected = (type === searchWeak)) #{type}
        div.form-input
          label(for = str) Strength:
          select(id = 'str' name = 'str' autocomplete = 'off')
            each type in types
              option(value = type selected = (type === searchStr)) #{type}
        div.form-input
          label(for = 'random') Random
          input(type = 'checkbox' name = 'random' id = 'random' checked = searchRandom)
      button.button.save(type = 'submit') Filter
  div.container
    div.add-button-row
      a.button.save(href="/add") Add Card
  div.container
    each card in cards
      +pokemonCard(card)



            // 39 other pokemon huh? well...
            //  1. decidueye (no. 724) *
            //  2. braviary (no. 628) *
            //  3. deino (no. 633) *
            //  4. clawitzer (no. 692) *
            //  5. tyrantrum (no. 697) *
            //  6. joltik (no. 595) *
            //  7. diglett (no. 50) *
            //  8. klinklang (no. 601) *
            //  9. ferrothorn (no. 598) *
            //  10. cherrim (no. 421) *
            //  11. togepi (no. 175) *
            //  12. mienfoo (no. 619)
            //  13. sizzlipede (no. 850)
            //  14. whirlipede (no. 544)
            //  15. meowth (no. 52)
            //  16. ralts (no. 280)
            //  17. cresselia (no. 488)
            //  18. darumaka (no. 554)
            //  19. pawniard (no. 624)
            //  20. mudkip (no. 258)
            //  21. lunala (no. 792)
            //  22. mudbray (no. 749)
            //  23. empoleon (no. 395)
            //  24. excadrill (no. 530)
            //  25. archeops (no. 567)
            //  26. mimikyu (no. 778)
            //  27. jirachi (no. 385)
            //  28. celfable (no. 36)
            //  29. volcanion (no. 721)
            //  30. roserade (no. 407)
            //  31. steelix (no. 208)
            //  32. florges (no. 671)
            //  33. pinsir (no. 127)
            //  34. metang (no. 375)
            //  35. metapod (no. 11)
            //  36. duskull (no. 355)
            //  37. golurk (no. 623)
            //  38. golbat (no. 42)
            //  39. cubchoo (no. 613)