extends layout

block content
  h1= title
  p Welcome to #{title}

  div.container
    div.card
      div.card-head
        div.card-name Eevee
        div.card-hp 100HP
        div.card-type 0
      div.card-body
        img.card-picture(src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg")
        div.card-pop error
      div.card-foot
        div.card-moves
          div.card-move-one
            div.card-move-energy 0
            div.card-move-name Gnaw
            div.card-move-dam 10
            div.card-move-desc [placeholder]
          div.card-move-two
            div.card-move-energy 0
            div.card-move-name Tackle
            div.card-move-dam 20
            div.card-move-desc [placeholder]
        div.card-bar
          div.card-weak Weakness
          div.card-strong Resistance
          div.card-retreat Retreat
        div.card-desc [placeholder]