body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(197, 74, 74);
  margin: 3px;
}

.container {
  padding: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  background: aliceblue;
  border: 10px solid #fffc75;
  border-radius: 8px;
  max-width: 350px;
  min-height: 460px;
  position: relative;
  overflow: hidden;
  margin: 15px;
  box-shadow:
          rgba(0, 0, 0, 0) 0 0 0 0,
          rgba(0, 0, 0, 0) 0 0 0 0,
          rgba(0, 0, 0, 0.1) 0 1px 5px 0,
          rgba(0, 0, 0, 0.06) 0 1px 4px 0
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 10px 5px 10px;
}

.card-name {
  font-size: 20px;
  font-weight: bold;
}

.card-hp {
  font-size: 20px;
  position: absolute;
  right: 60px;
}

.card-hpHP {
  font-size: 20px;
  position: absolute;
  right: 30px;
  down: 100px;
}

.card-type {
  font-size: 20px;
}

.card-icon {
  width: 17px;
  height: 17px;
}

.card-body {
  border: 2px solid silver;
  padding: 0px;
  margin: 0px 20px 0px 15px;
  width: 316px;
  height: 205px;
}

.card-picture {
  width: 316px;
  height: 186px;
}

.card-pop {
  background: silver;
  display: flex;
  position: relative;
  border: 2px solid silver;
  padding: 3px;
  margin: -3px 0px 0px 0px;
  justify-content: center;
  font-size: 9px;
  font-style: italic;
  color: black;
}

.card-foot {
  margin: 0px 15px 5px 15px;
  flex-direction: row;
}

.card-moves {
  display: flex;
  flex-direction: column;
  margin: 1px;
  flex: 1;
}

.card-move-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  margin: 0px 3px 0px 3px;
  border-bottom: 2px dotted grey;
}

.card-move-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  margin: 0px 3px 0px 3px;
  border-bottom: 2px dotted grey;
}

.card-move-energy {
  display: flex;
  flex-direction: row;
}

.card-move-name {
  margin: 0px 25px 0px 25px;
}

.card-move-dam {

}

.card-move-desc {
  display: flex;
  font-size: 9px;
}

.card-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px dotted grey;
}

.card-weak {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
}

.card-strong {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
}

.card-retreat {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
}

.card-energy {
  display: flex;
  justify-content: space-evenly;
}

.card-desc {
  display: flex;
  justify-content: center;
  padding: 7px;
  font-size: 9px;
  font-style: italic;
}

.edit {
  display: flex;
  justify-content: right;
}

.card.Normal {
  background: #e6ddd9;
}

.card.Fighting {
  background: #e23500;
}

.card.Flying {
  background: #def6ff;
}

.card.Poison {
  background: #ad089a;
}

.card.Ground {
  background: #8d552e;
}

.card.Rock {
  background: #d08e01;
}

.card.Bug {
  background: #64bb3a;
}

.card.Ghost {
  background: #5221a2;
  color: lightgrey;
}

.card.Steel {
  background: #949190;
}

.card.Fire {
  background: #fc4643;
}

.card.Water {
  background: #35c5d9;
}

.card.Grass {
  background: #05a245;
}

.card.Electric {
  background: #fffe40;
}

.card.Psychic {
  background: #f352a8;
}

.card.Ice {
  background: #9dc8e8;
}

.card.Dragon {
  background: #3732b9;
  color: lightgrey;
}

.card.Dark {
  background: #2f3a54;
  color: lightgrey;
}

.card.Fairy {
  background: #fe9dfe;
}


