body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  padding: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  background: #d7d7d7;
  border: 10px solid #fffc75;
  border-radius: 8px;
  max-width: 350px;
  min-height: 450px;
  position: relative;
  overflow: hidden;
  box-shadow:
          rgba(0, 0, 0, 0) 0 0 0 0,
          rgba(0, 0, 0, 0) 0 0 0 0,
          rgba(0, 0, 0, 0.1) 0 1px 5px 0,
          rgba(0, 0, 0, 0.06) 0 1px 4px 0
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 10px 5px 10px;
}

.card-name {
  font-size: 20px;
  font-weight: bold;
}

.card-hp {
  font-size: 20px;
  position: absolute;
  right: 30px;
}

.card-type {
  font-size: 20px;
}

.card-icon {
  width: 17px;
  height: 17px;
}

.card-body {
  border: 2px solid silver;
  padding: 0px;
  margin: 0px 20px 5px 15px;
  width: 316px;
  height: 205px;
}

.card-picture {
  width: 316px;
  height: 183px;
}

.card-pop {
  display: flex;
  position: relative;
  border: 2px solid silver;
  padding: 3px;
  justify-content: center;
  font-size: 9px;
  font-style: italic;
}

.card-foot {
  margin: 0px 15px 5px 15px;
  flex-direction: row;
}

.card-moves {
  display: flex;
  flex-direction: column;
  margin: 1px;
  flex: 1;
}

.card-move-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  margin: 0px 3px 0px 3px;
  border-bottom: 2px dotted grey;
}

.card-move-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  margin: 0px 3px 0px 3px;
  border-bottom: 2px dotted grey;
}

.card-move-energy {

}

.card-move-name {

}

.card-move-dam {

}

.card-move-desc {

}

.card-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px dotted grey;
}

.card-weak {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
}

.card-strong {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
}

.card-retreat {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
}

.card-energy {
  display: flex;
  justify-content: space-evenly;
}

.card-desc {
  display: flex;
  justify-content: center;
  padding: 7px;
  font-size: 9px;
  font-style: italic;
}


